<aside>
    <caption>
        <h1 class="aside-header align-center">
            <img src="{{ url_for('djask.static', filename='icon/djask.svg') }}" alt="logo" class="aside-logo">
            <span class="aside-header-text">Djask-Admin</span>
        </h1>
    </caption>
    <ul class="d-flex flex-column menu p-0">
        <li>
            <a href="{{ url_for('admin.index') }}" class="aside-link d-inline-flex align-items-center">
                <i class="bi bi-grid-1x2"></i>
                <p class="aside-link-text">Dashboard</p>
            </a>
            <a href="#" class="aside-link d-inline-flex align-items-center">
                
            </a>
        </li>
    </ul>
    <nav>
</aside>