{% extends "base.html" %}
{% from "macros.html" import render_top_panel %}
{% from "bootstrap5/form.html" import render_form %}
{% block title %} {{ model_name }} - Add {% endblock %}
{% block content %}
    {% include "aside.html" %}
    <main>
        {{ render_top_panel(model_name+" - Add", "plus-squre") }}
        <div class="page-content">
            <div class="grid-container max-height">
                <div class="grid-item max-height">
                    {{ render_form(form, button_size="block") }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}